﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cáculos";
}

<div class="text-center">
    <h1>Cálculos</h1>
    <form action="/calculos/sumar" method="post">
        <div class="form-group">
            <input type="number" name="primerNumero" class="form-control" placeholder="Ingrese un número" />
        </div>
        <div class="form-group">
            <input type="number" name="segundoNumero" class="form-control" placeholder="Ingrese el segundo número" />
        </div>
            <input type="submit" class="btn btn-primary" value="Sumar" />
    </form>
</div>
