﻿@model IEnumerable<WebApplicationTest.Entities.Conyuge>

@{
    ViewData["Title"] = "Lista";
}

<h1>Lista de conyuges</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.NombreCompleto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConyugeId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ConyugeId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ConyugeId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
