﻿@model WebApplicationTest.Entities.Curso

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCreditos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCreditos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.CursoId">Editar</a> |
    <a type="submit" class="btn btn-primary" asp-action="Index">Lista</a>
</div>
