﻿@model IEnumerable<WebApplicationTest.Entities.Curso>

@{
    ViewData["Title"] = "Lista";
}

<h1>Lista de cursos</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCreditos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCreditos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CursoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CursoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CursoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
